# Dependencias
node_modules/
.pnpm-debug.log

# Expo (Mobile)
.expo/
dist/
web-build/

# Next.js (Web)
.next/
out/

# Turbo
.turbo/

# Variables de entorno (Seguridad)
.env
.env.local
.env*.local

# Otros
.DS_Store
*.log